front_end_1/__pycache__
front_end_1/.pytest_cache
front_end_1/.coverage
gun_gen_2/__pycache__
gun_gen_2/.pytest_cache
gun_gen_2/.coverage
perk_one_3/__pycache__
perk_one_3/.pytest_cache
perk_one_3/.coverage
perk_two_4/__pycache__
perk_two_4/.pytest_cache
perk_two_4/.coverage

venv
.coverage
.pytest_cache
__pycache__

